[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
s = "pipenv run python src/app.py"
i = "pipenv install"
d = "pipenv run pip freeze"

[packages]
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
